body{
	text-align: center;
	background: url(../pics/backA.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
#homeBlock{
	width: 40%;
	color: #0099dd;
	margin: auto;
	text-align: center;
}
#homeLoginBlock{
	margin: auto;
	margin-top: 30%;
	width: 60%;
	text-align: center;
	border: 0px solid #ff99ff;
	padding: 6% 0%;
	border-radius: 1px;
	background: rgba(229, 128, 255,.7);
	box-shadow: 0 0 15px #ff33bb;
	transition: background 1s;
}
#homeLoginBlock:hover{
	background: rgba(200, 100, 200,.7);
}
#loginEmailIcon{
	font-size: 15px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #ff3333;
	display: none;
}
#loginButton{
	background:#b30086;/*#ff66b3;#DE78ED;*/
	width: 86%;
	color: #fae6ff;/*#800080;#660033;*/
	margin-top: 12%;
	padding: 2% 0%;
	border: 0px solid #B0008F;
	font-size: 14px;
	font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	transition: background 1s;
}
#loginButton:hover{
	background: #330026;/*#C410F9;*/
}
#loginEmail{
	width: 80%;
	border: 0px solid #abcdaa;
	background: #e5fff9	;/*#FFEBF5;*/
	font-size: 14px;
	padding: 2% 3%;
	color: #000000;/*#AB00A8;*/
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
	letter-spacing: 1px;
}
#loginPass{
	margin-top: 1%;
	width: 80%;
	margin-left: 1%;
	border: 0px solid #abcdaa;
	background: #e5fff9;
	font-size: 13px;
	padding: 2% 3%;
	color: #000000;/*#AB00A8;*/
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
	letter-spacing: 2px;
}