body{
	text-align: center;
	background: url(../pics/backA.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
#hrHead{
	margin: auto;
	width: 45.4%;
	background: #DE78ED;
	margin-top: 8%;
	display: flex;
}
#hrHead>span{
	flex-grow: 1;
	display: inline-block;
	padding: 2% 0%;
	cursor: pointer;
	color: #f9e9fc;
	font-size: 14px;
	font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.navTabs:hover{
	background:#c935e3 !important;
}
#hrBlock{
	width: 45%;
	margin:auto;
	border: 2px solid #DE78ED;
	border-top: none;
	background: rgba(0, 0, 0, 0.1);
}
#addUser{
	display: block;
	visibility: visible;
	color: #0099dd;
}
#listUser{
	display:none;
	visibility: hidden;
	color: #0099dd;
}
#commentUser{
	display: none;
	visibility: hidden;
}
#commentMessage{
	visibility: hidden;
	margin: auto;
	margin-top: 1%;
	width: 42%;
	font-size: 13px;
	color: #00ff00;
	font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
	letter-spacing: 2px;
	text-shadow: 0 0 15px #000000;
}
#hrLogOut{
	background:#DE78ED;
	width: 100%;
	color: #f9e9fc;/*#660033;*/
	padding: 2% 0%;
	border: 0px solid #B0008F;
	font-size: 14px;
	font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	transition: background 1s;
}
#hrLogOut:hover{
	background: #8b159d;
}
.addInput{
	width: 40%;
	border: 0px solid #abcdaa;
	background: #e5fff9	;/*#FFEBF5;*/
	margin-top: .5%;
	font-size: 13px;
	padding: 1% 2%;
	color: #AB00A8;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
	letter-spacing: 2px;
}
#addUserButton{
	background:#DE78ED;
	width: 44%;
	margin-top: 3%;
	color: #f9e9fc;/*#660033;*/
	padding: 2% 2%;
	border: 0px solid #B0008F;
	font-size: 14px;
	font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	transition: background 1s;
}
#addUserButton:hover{
	background: #8b159d !important;
}
#totalUsersLabel{
	display: inline-block;
	background: #e5fff9;
	width: 16%;
	margin-top: 3%;
	color: #8b159d;/*#660033;*/
	padding: 2% 2%;
	border: 1px solid #e5fff9;
	font-size: 13px;
	font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#totalUsers{
	display: inline-block;
	width: 20%;
	margin-top: 3%;
	margin-left: -1%;
	color: #800080;/*#660033;*/
	padding: 2% 2%;
	border: 1px solid #e5fff9;
	font-size: 13px;
	font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#addUser p{
	padding: 0;
	visibility: hidden;
	display: none;
	color: #ff0000;
	font-size: 12px;
	font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-shadow: 0 0 15px #aaaaaa;
}
#addedMessage{
	visibility: hidden;
	margin: auto;
	margin-top: 1%;
	width: 42%;
	font-size: 13px;
	color: #00ff00;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
	letter-spacing: 1px;
	text-shadow:0 0 15px #000000;
}
#searchText{
	margin-top: 2%;
	width: 40%;
	border: 0px solid #abcdaa;
	background: #e5fff9	;/*#FFEBF5;*/
	font-size: 14px;
	padding: 1.5% 2%;
	color: #AB00A8;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
	letter-spacing: 2px;	
}
#searchButton{
	background:#DE78ED;
	width: 20%;
	color: #f9e9fc;/*#660033;*/
	padding: 1.5% 2%;
	border: 0px solid #B0008F;
	font-size: 14px;
	font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	transition: background 1s;
}
#searchButton:hover{
	background: #8b159d;
}
#allUsers{
	margin: auto;
	width: 40%;
	border: 0px solid #abcdaa;
	background: #DE78ED	;/*#FFEBF5;*/
	font-size: 13px;
	padding: 2% 2%;
	color: #800080;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
	letter-spacing: 2px;
}
.commentInput{
	width: 40%;
	border: 0px solid #abcdaa;
	background: #e5fff9	;/*#FFEBF5;*/
	font-size: 13px;
	padding: 1% 2%;
	margin-top: .5%;
	color: #AB00A8;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
	letter-spacing: 2px;
}
#commentButton{
	background:#DE78ED;
	width: 44%;
	margin-top: 2%;
	color: #f9e9fc;/*#660033;*/
	padding: 2% 2%;
	border: 0px solid #B0008F;
	font-size: 14px;
	font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	transition: background 1s;
}
#commentButton:hover{
	background: #8b159d;
}
#commentProfile{
	display: none;
	visibility: hidden;
	text-align: left;
	padding-top: 2%;
}
footer{
	color: #8b159d;
}
.commentProfileBlocks{
	display: block;
	margin: auto;
	margin-top: 1%;
	width: 100%;
	border: 1px solid #e5fff9;
}
.commentProfileTitles{
	background: #e5fff9;
	display: inline-block;
	text-align: right;
	width: 40%;
	font-size: 15px;
	padding: 3% 2%;
	color: #AB00A8;
	font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	letter-spacing: 2px;
}
.commentProfileResults{
	display: inline-block;
	text-align: left;
	font-size: 15px;
	padding: 3% 2%;
	color: #80007d;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	letter-spacing: 2px;	
}
#commentProfileDiv{
	display: block;
	background: #e5fff9;
	text-align: center;
	width: 100%;
	padding: 2.5% 0%;
	font-size: 15px;
	color: #AB00A8;
	font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	letter-spacing: 2px;
	line-height: inherit;
}
#commentProfileComments{
	display: block;
	font-size: 15px;
	padding: 2% 2%;
	color: #80007d;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	letter-spacing: 1px;	
}