body{
	text-align: center;
	background: url(../pics/backA.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
#userHead{
	display: flex;
	background: #DE78ED;
	margin: auto;
	margin-top: 5%;
	width: 45.4%;
}
.userTabs{
	flex-grow: 1;
	padding: 2% 0%;
	cursor: pointer;
	color: #f9e9fc;
	font-size: 14px;
	font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.userTabs:hover{
	background: #c935e3 !important;
}
#userBlock{
	width: 45%;
	margin: auto;
	border: 2px solid #DE78ED;
	border-top:none;
	margin-top: 0%;
	padding-top: 3%;
	background: rgba(0, 0, 0, 0.1);
}
footer{
	 color: #8b159d;
}
#userPassword{
	display: none;
}
#passwordMessage{
	visibility: hidden;
	color: #00ff00;
	font-size: 14px;
	font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#userLogOut{
	cursor: pointer;
	background:#DE78ED;
	width: 100%;
	color: #f9e9fc;/*#800080;*/
	padding: 2% 0%;
	border: 0px solid #B0008F;
	font-size: 14px;
	font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	transition: background 1s;
}
#userLogOut:hover{
	background: #8b159d;/*#C410F9;*/
}
#oldPasswordIcon{
	display: none;
	color: #ff0000;
	font-size: 14px;
	font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#newPasswordIcon{
	display: none;
	color: #ff0000;
	font-size: 13px;
	font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.passwordInput{
	margin-top: .5%;
	width: 40%;
	border: 0px solid #abcdaa;
	background: #e5fff9	;/*#FFEBF5;*/
	font-size: 13px;
	padding: 1% 2%;
	color: #AB00A8;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
	letter-spacing: 2px;
}
#changePasswordButton{
	cursor: pointer;
	background:#DE78ED;
	width: 44%;
	margin-top: 3%;
	color: #f9e9fc;/*#660033;*/
	padding: 2% 2%;
	border: 0px solid #B0008F;
	font-size: 14px;
	font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	transition: background 1s;
}
#changePasswordButton:hover{
	background: #8b159d;
}
.profileBlocks{
	margin: auto;
	margin-top: 1%;
	width: 60%;
	border: 1px solid #e5fff9;
	text-align: left;
}
.profileTitles{
	background: #e5fff9;
	display: inline-block;
	text-align: right;
	width: 40%;
	font-size: 15px;
	padding: 3% 2%;
	color: #AB00A8;
	font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	letter-spacing: 2px;
}
.profileResults{
	display: inline-block;
	text-align: left;
	font-size: 15px;
	padding: 3% 2%;
	color: #80007d;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	letter-spacing: 2px;	
}
#commentDiv{
	display: block;
	background: #e5fff9;
	text-align: center;
	width: 100%;
	padding: 2.5% 0%;
	font-size: 15px;
	color: #AB00A8;
	font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	letter-spacing: 2px;
	line-height: inherit;
}
#profileComment{
	display: block;
	font-size: 15px;
	padding: 3% 2%;
	color: #80007d;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	letter-spacing: 1px;	
}